<h2>Welcome to Reddit_Clone!</h2>
<p>
  This is a welcome message for your new accout at Reddit_Clone!
</p>
<p>
  Your username is <%=@user.username%>. Hope you enjoy the site! Visit is here: https://sheltered-hamlet-57079.herokuapp.com/user/<%=@user.username%>
</p>
