<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>


<%= link_to 'New Post', new_post_path %><br>
<br>
<%@counter=1%>
<% @posts.each do |post| %>
  <%= render 'showpost',post: post,counter:@counter %>
  <%@counter+=1%>
<%end%>
