/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require rails_bootstrap_forms
 *= require sweetalert
 *= require jasny-bootstrap.min
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body{
  font-family: 'Roboto', sans-serif;
}
/***************************************HEADER************************************************** */
#header{
  height: 55px;
  background-color: #cee3f8;
  border-bottom: 1px solid #5f99cf;
  padding-top: 3px;
  margin-bottom: 15px;
}
#logo{
  max-height: 48px;
  display: inline-block;
  float: left;
}
@media only screen and (max-width: 680px) {
    /*
    #logo{
      display: none;
    }
    */
    #header .right{
      clear: both;
      margin-top: 5px;
    }
    #header{
      height: 85px;
    }
  }
@media only screen and (max-width: 547px) {
    #optional{
      display: none;
    }
  }
@media only screen and (max-width: 445px) {

    #header{
      height: 107px;
    }
    .nav-pills{
      margin-top: 25px;
      clear: left;
    }
    #header .right{
      float: left;
    }
}

.nav-pills{
  margin-top: 25px;
}
.nav-pills li{
  background-color: #eff7ff;
  margin-right: 5px;
  border-radius: 0;
  a{
    padding: 5px;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 14px;
  }
}
.nav-pills > li.active > a {
    background-color:white;
    color: #ff4f00;
    border: 1px solid #5f99cf;
    border-bottom: none;
}
// This changes the color of the active

.nav-pills>li.active>a:hover {
  background-color: white;
  color: #ff4f00;
  border: 1px solid #5f99cf;
  border-bottom: none;
}

.right{
  float: right;
  background-color: #eff7ff;
  li{
    padding: 5px;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 14px;
  }
}
/***************************************HEADER************************************************** */


/***************************************POST LISTING************************************************** */

.listing{
  background-color: white;
  display: inline-block;
  width:80%;
  min-height: 90px;
}
#post_time{
  min-width: 500px;
}
.post_container{
  clear: both;
  margin-bottom: 20px;
  border-bottom: 1px dotted #666;
  margin-left: 10px;
}
.counter{
  display: inline-block;
  margin: 0;
}
@media only screen and (max-width: 605px) {
    .counter{
      display: none;
    }
}
#listing_pic{
  float: left;
  width:60px;
  height: 100%;
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
}
.listing_counter{
  display: inline-block;
  font-size: 25px;
  margin-right: 5px;
  color: #999;
  float: left;
  width: 10%;
  .btn{
    float: right;
  }
}
.karma{
  font-size: 17px;
  float: right;
  font-weight: bold;
  padding-right: 15px;
  padding-top: 5px;
  margin-bottom: 0;
}
.voted{
  background-color: #ff4f00 !important;
}
.btn-default.voted:hover{
  background-color: #ff4f00;
}
.vote_btn{
  display: inline-block;
  .glyphicon{

  }
}
.post_placeholder{
  background-image: url("post_placeholder.jpg");
  width:60px;
  height: 60px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin-right: 7px;
  margin-left: 7px;
}

.panel-body p{
  font-size: 16px;
}
/***************************************POST LISTING************************************************** */



/***************************************SUBREDDIT PAGE************************************************* */
#header_left{
  background-color: red;
  max-width: 65px;
  display: inline-block;
}
#subreddit_header_name{
  display: inline;
  float: left;
  font-weight: bolder;
  margin-left: 2px;
  margin-right: 7px;
  margin-top: 30px;
}
.sidebar{
  background-color: #e6e6e6;
  overflow: hidden;
}
#subreddit_image_div{
  width: 99%;
  background-image: url("missing-image.jpg");
  min-height: 200px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-top: 5px;
}
#subreddit_image{
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.new_post_btn{
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.subscribe_btn{
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.hidden_form{
  display: none;
}

.sidebar_login{
  padding: 1em;
  margin: 0 -1em;
  border-bottom: 5px solid #5bc0de;
  padding-top: 0;
}
#default_sidebar_header{
  text-align: center;

}
.ad{
  height: 100px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 15px;
  background-image: url("ad.jpg");
  background-position: center center;

}
.adone{
  height: 100px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 15px;
  margin-top: 15px;
  background-image: url("ad.jpg");
  background-position: center center;
}

.sidebar_search{
  height: 35px;
  border-bottom: 5px solid #5bc0de;
}
.search {
    width: 170px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: right;
    margin-top: -8px;
}

/* When the input field gets focus, change its width to 100% */
.search:focus {
    width: 100%;
}
.inner-addon .glyphicon {
  margin-top: -8px;
}
@media only screen and (max-width: 1098px) {
    .search_header{
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 1050px) {
      .search_header{
        font-size: 15px;
      }
    }
/***************************************SUBREDDIT PAGE************************************************* */

/*************************************** MOBILE SIDEBAR ************************************************* */


#trigger{
  position: fixed;
   right: 5px;
   top: 30%;
   z-index: 10;
   display: none;
   width:50px;
   height:50px;
   line-height:50px;
   border: 2px solid #464646;
   border-radius: 50%;
   color:#f5f5f5;
   text-align:center;
   text-decoration:none;
   background: #ff4f00;
   box-shadow: 0 0 3px gray;
   font-size:20px;
   font-weight:bold;
   .glyphicon{
     color: #464646;
   }
}
@media only screen and (max-width: 992px) {
    #trigger{
      display:block;
    }
  }


#slider{
  overflow: scroll;
}

.mobile {
  box-sizing: content-box;
  padding: 20px;

  box-shadow: 2px 12px 20px 0px rgba(0,0,0,.5);
}

/*************************************** MOBILE SIDEBAR ************************************************* */



/***************************************SEARCH PAGE************************************************* */

.subreddit_listing{
    min-height: 100px;
    padding-left: 10px;
    padding-top: 5px;
    border-bottom: 2px solid #e5e3da;
    a{
      font-size: 25px;
    }
    p:nth-child(2){
      font-size: 14px;
      color: #666;
    }
    p:nth-child(3){
      margin-top: 10px;
      font-size: 18px;
      color: #4d4d4d;
    }
}
#subreddit_search_error{
  margin-top: 75px;
  text-align: center;
}

/***************************************SEARCH PAGE************************************************* */


/***************************************USER PAGE************************************************* */

#user_header{
  margin-top: 0px;
  display: inline-block;
}
#user_header_right{
  margin-top: 0px;
  margin-right: 10px;
  display: inline-block;
  float: right;
}
.user_nav{
  margin-bottom: 15px;
}
#liked{
  display: none;
}
#disliked{
  display: none;
}

/***************************************COMMENTS PAGE************************************************* */
#show_points{
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: -10px;
  margin-left: 10px;
}
.comment_text_area{
  background-image: url("textarea.png");
  background-repeat: no-repeat;
  min-height: 100px;
  width: 55%;
  max-width: 100%;
  max-height: 250px;
}

.comments-header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.comments-container {
  p {
    margin-bottom: 0px;
  }
  .comment-nav {
    margin-left: 5px;
    margin-bottom: 20px;
    border-bottom: .5px solid #ccc;
    a {
      font-size: 10px;
      font-weight: bold;
      color: #888;
    }
  }
}
.comment-nav {
  margin-left: 5px;
  margin-bottom: 20px;
  border-bottom: .5px solid #ccc;
  a {
    font-size: 10px;
    font-weight: bold;
    color: #888;
  }
}
.reply-form {
  display: none;
}

.comments-show {
  margin-left: 25px;
}



.comment a{
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 5px;
}
.comment_karma{
  display: inline-block;
}
.op{
  display: inline-block;
  background-color: #428BCA;
  color: white;
}
.mod{
  display: inline-block;
  background-color: #00b33c;
  color: white;
}
.comment_listing_counter{
  display: inline-block;
  font-size: 20px;
  margin-right: 5px;
  color: #999;
  float: left;
  width: 5%;
  .btn{
    float: right;
  }
}
.voted{
  background-color: #ff4f00 !important;
}
.btn-default.voted:hover{
  background-color: #ff4f00;
}
.vote_btn{
  display: inline-block;
}

.comment_upvote{
  height: 20px;
  width: 20px;
    .glyphicon{
      position: relative;
      right: 5px;
      top: -7px;
      font-size: 10px;
    }
}
.comment_downvote{
  height: 20px;
  width: 20px;
  .glyphicon{
    position: relative;
    right: 5px;
    top: -7px;
    font-size: 10px;
  }
}

#comment_time{
  display: inline-block;
  margin-left: 10px;
}
.comments-header h4{
  display: inline-block;
}
.comment_sort{
  display: inline-block;
  margin-left: 25px;
  .btn{
    padding: 5px 5px;
  }
}
