<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/header'%>
  </div>
</div>
<h1>Editing <%=@subreddit.name%> Subreddit</h1>

<%= render 'editform' %>

<%= link_to "#{@subreddit.name} subreddit page", @subreddit %>
