<div class="container-fluid">
  <%= render 'layouts/header'%>

  <div class="row">
    <div class="col-md-9 col-xs-12 ">
      <%@counter=1%>
      <% @ordered_posts_keys.each do |post| %>
        <%= render 'posts/showpost',post: post,counter:@counter %>
        <%@counter+=1%>
      <%end%>
      <%= will_paginate @ordered_posts_keys, :page_links => false %>
    </div>

    <%= render "sidebar" %>

  </div>
</div>


<script>

$(".show_form").click(function(e){
  $(".hidden_form").fadeToggle();
})


</script>
